body {
display: inline;

}
.button {
  width: 25px;
  height: 25px;
  border-color: black;
  float: right;

}
#num1, #num2, #calculation {
  margin: 10px;
  width: 125px;
  height: 30px;
  border-color: black;
  text-align: center;
  font-size: 14px;
}
#result {
  margin-right: 25px;
  float: right;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
}
#clear {
  margin-right: 25px;
  float: right;
  width: 50px;
  height: 25px;
  color: red;
}
