body {
  display: inline;
}
.button {
  width: 25px;
  height: 25px;
  border-color: black;

}
.input {
  width: 125px;
  height: 30px;
  border-color: black;
  text-align: center;
  font-size: auto;
}
